    <nav class="navbar navbar-inverse navbar-static-bottom"">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    SOMETHING HERE
                </a>
            </div>
        </div>
    </nav>

</body>
</html>