<!--INCLUDE HEADER-->
<%include partials/header%>
<section class="first">
    <div class = "container">
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail historycard">
                    <p>
                        <div class="col-sm-4">
                             <div class="thumbnail">
                            <img src="https://images.unsplash.com/photo-1453486030486-0a5ffcd82cd9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=052b30525366ca5a40960f17efe735d7&auto=format&fit=crop&w=2087&q=80">
                        </div>
                        </div>
                        Established in 2000 Industria Textil Express SAC is a
                        Lima - Perú based manufacturing and export company
                        We pride ourselves on being a lean and innovative.
                        company that not only develops , but also seeks out
                        high-profile brands for distribution across North America
                        We believe in delivering only the best quality products
                        with cotton peruvian to both our customers and retailers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--INCLUDE FOOTER-->
<%include partials/footer%>