<!--INCLUDE HEADER-->
<%include partials/header%>

<section>

    <div class="row text-center parallax" style="display: flex; flex-wrap:wrap">
        <div class="container ">
    <header class="jumbotron">
        <h1>Our Collection Spring/Summer 2018</h1>
        <div>
            <a href="/gallery" class="links">Pullovers</a> |
            <a href="/gallery2" class="links">Graphic Tees</a> |
            <a href="/gallery3" class="links">Hoodies</a> |
            <a href="/gallery4" class="links">Joggers</a> |
            <a href="/gallery5" class="links">T-shirts</a> 
            
        </div>
        

    </header>
        <% collection.forEach(function(shirt){ %>
        <% if(shirt.type === "bottom") {%>
        <div class="col-md-4 col-xs-6">
            <a href="/gallery/<%= shirt._id%>" class="thumbnail" style="background: #000000;">
                <img style="width: 100%; height: 500px; background-size: cover; background-position: center center;" src="<%=shirt.image%>">
            </a>
        </div>
            <%}%>
        <% }); %>
    </div>
</div>
</section>


<!--INCLUDE FOOTER-->
<%include partials/footer%>