<!--INCLUDE HEADER-->
<%include partials/header%>
<section class="first">
    <div class="jumbotron">
        <div class="container">
            <p>Hello World</p>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <a href="#" class="thumbnail homethumbnail">
                <img class="imagehome" src="https://i.imgur.com/XhMCshw.jpg">
            </a>
        </div>
        <div class="col-xs-2 col-md-2">
            <a href="#" class="thumbnail homethumbnail">
                <img class="imagehome" src="https://i.imgur.com/ko0C5Pn.jpg">
            </a>
        </div>
        <div class="col-xs-2 col-md-2">
            <a href="#" class="thumbnail homethumbnail">
                <img class="imagehome" src="https://i.imgur.com/ko0C5Pn.jpg">
            </a>
        </div>
    </div>-->
</section>

    

<!--INCLUDE FOOTER-->
<%include partials/footer%>