<!--INCLUDE HEADER-->
<%include partials/header%>
    <div class="row rowhome parallax">
        <section>
    <div class="container containerhome">
        <div class="row center-row">
            <div class="col-sm-12 containerimageshome">
                <div class="col-sm-5 mainimage">
                <div class="thumbnail right-caption thumbnailhome">
                    <img class="img-responsive" src="https://i.imgur.com/qwiHpUH.jpg">
                </div>
            </div>
            <div class="col-sm-5 mainimage">
                <div class="thumbnail thumbnailhome">
                    <h2>SPRING/SUMMER</h2>
                    <h2>2K18</h2><br>
                    <h1>NEW COLLECTION</h1>
                </div>
            </div>
            </div>
        </div>
    </div>
    </section>
        <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail thumbnailhome">
                <img class="imagehome" src="https://i.imgur.com/XhMCshw.jpg">
            </a>
        </div>
        <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail thumbnailhome">
                <img class="imagehome" src="https://i.imgur.com/ko0C5Pn.jpg">
            </a>
        </div>
        <div class="col-xs-3 col-md-3">
            <a href="#" class="thumbnail thumbnailhome">
                <img class="imagehome" src="https://i.imgur.com/ifz9MSp.jpg">
            </a>
        </div>
    </div>
    
    <!--
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <a href="#" class="thumbnail homethumbnail">
                <img class="imagehome" src="https://i.imgur.com/ko0C5Pn.jpg">
            </a>
        </div>
        <div class="col-xs-2 col-md-2">
            <a href="#" class="thumbnail homethumbnail">
                <img class="imagehome" src="https://i.imgur.com/ko0C5Pn.jpg">
            </a>
        </div>
    </div>-->
</section>

    

<!--INCLUDE FOOTER-->
<%include partials/footer%>