<!--INCLUDE HEADER-->
<%include partials/header%>

<div class = "container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=foundToken.image%>">
            
            </div>
        </div>
    </div>
</div>
<h1><%=foundToken.model%></h1>
<!--INCLUDE FOOTER-->
<%include partials/footer%>