.navbar-default .navbar-nav>li>a {
    color: #FC942D;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
    background-color: transparent;
}

.first {
   height:100vh; 
   min-height:400px; 
   background-size:cover; 
   background-image:url('https://images.unsplash.com/photo-1415889455891-23bbf19ee5c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5025d379155afa5d4070dcb979acdf09&auto=format&fit=crop&w=1355&q=80');
   /*opacity: 0.7;*/
   /*filter: alpha(opacity=70);*/ /* For IE8 and earlier */
    
}

.navbar-default{
    margin-bottom: 0;
}

.navbar.navbar-default{ 
    border: none; 
}

.imagehome{
    transition: all 1s;
}

.imagehome:hover{
    transform: scale(1.1)
}

.homethumbnail{
    opacity: 1;
}

.jumbotron {
    background-color: rgb(252, 148, 45);
}

.jumbotron-home{
    height: 45%;
}

.historycard{
    display: flow-root;
    margin-top: 10%;
    background-color: rgb(252, 148, 45);
    font-size: 2em;
    text-align: justify;
    padding: 20px;
}

.contactimage{
    width:100%;
}

.thumbnail.right-caption>img{
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption{
    float: left;
}

.thumbnail.right-caption>.caption{
    padding: 4px;
}

.center-row {
    padding: 10px 10%;
}

.navbar-default .navbar-brand {
    color: rgb(252, 148, 45);
}

.navbar-default .navbar-brand:hover{
    color: #FFFFFF;
}


.addressinfo{
    background-color: red;
}

.contactform {
    background-color: blue;
}

.containerhome{
    width: 100%;
    background-color: rgb(252, 148, 45);
}

.containerimageshome {
    width: 100%;
    background-color: gray;
    padding-top: 20px;
    padding-left: 100px;
}

.mainimage{
    padding: 0;
}

.thumbnailhome {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.rowhome {
    margin: 0;
}


body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('https://images.unsplash.com/photo-1415889455891-23bbf19ee5c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5025d379155afa5d4070dcb979acdf09&auto=format&fit=crop&w=1355&q=80');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}